<h3>Deseja excluir o fornecedor?</h3>
<form class="form-fornecedor">
  <div class="form-column">
    <mat-form-field class="full-width">
      <mat-label>Nome:</mat-label>
      <input disabled="true" [(ngModel)]="fornecedor.nome" name="nome" matInput placeholder="" value="">
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Município:</mat-label>
      <input disabled="true" [(ngModel)]="fornecedor.municipio" name="municipio" matInput placeholder="" value="">
    </mat-form-field>
  </div>

  <div class="form-column">
    <mat-form-field class="full-width">
      <mat-label>UF:</mat-label>
      <input disabled="true" [(ngModel)]="fornecedor.uf" name="uf" matInput placeholder="" value="">
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>CNPJ:</mat-label>
      <input disabled="true" [(ngModel)]="fornecedor.cnpj" name="cnpj" matInput placeholder="" value="">
    </mat-form-field>
  </div>

  <div class="button-container">
    <button (click)="delete()" class="mat-elevation-z8" mat-raised-button color="primary">Excluir</button>
    <button (click)="cancelar()" class="mat-elevation-z8" mat-raised-button color="primary">Cancelar</button>
  </div>
</form>
