.title-section {
  background-color: #3a6f9b;
  color: #fff;
  padding: 8px;
  text-align: center;
}

.mat-progress-bar {
  transition: width 0.3s ease-in-out;
  margin-top: 20px;
  width: 50%;
}

.info-section {
  padding: 20px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Altere o valor do último parâmetro (0.5) para ajustar a opacidade da camada */
  z-index: 9999; /* Certifique-se de que a camada esteja em um valor maior que o restante do conteúdo */
  display: flex;
  justify-content: center;
  align-items: center;
}


.info-item {
  margin-bottom: 10px;
  font-weight: bold;
}


